<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Capacitor 2 Filesystem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let systemDirectory of systemDirectories" (click)="readdir(systemDirectory)">
      <ion-label>
        {{ systemDirectory }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="currentDirectory">
    <ion-list-header>
      <ion-label>
        <strong>{{ currentDirectory }}</strong>
      </ion-label>
    </ion-list-header>
    <ng-container *ngIf="files.length">
      <ion-item *ngFor="let file of files">
        <ion-label>
          {{ file }}
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="!files.length">
      <ion-item lines="none">
        <ion-label>
          <strong><em>empty</em></strong>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
